body, html {
  margin: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.header {
  padding: 1rem 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1000;
}
.header__logo {
  font-family: "Shrikhand", "cursive";
  margin: 0;
  text-align: center;
  color: black;
}

.local {
  display: flex;
  justify-content: center;
  padding: 1.25rem 1rem;
  background-color: rgb(243, 243, 243);
  font-size: 1.2rem;
  position: relative;
  color: grey;
}
.local__icon {
  margin-right: 1rem;
}
.local__text {
  font-weight: 700;
}

.hero {
  padding: 2rem;
  text-align: center;
  background-color: rgb(250, 250, 250);
}
.hero__title {
  margin: 0;
}
.hero__subtitle {
  font-weight: 300;
  margin: 1.5rem 0;
}
.hero__btn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(357deg, #9356dc, #ff79da);
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.hero__btn:hover {
  background: rgba(255, 255, 255, 0);
}

.process__contain {
  padding: 25px;
  background: white;
}

.process {
  background-color: white;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.process__title {
  margin: 0.25rem;
}
.process__step {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  padding: 1rem;
  margin: 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
}
.process__step:hover {
  background: #f2eafb;
  cursor: pointer;
}
.process__number {
  background-color: #9356DC;
  color: white;
  position: absolute;
  padding: 3px 8px 3px 8px;
  border-radius: 500px;
  transform: translateX(-50%);
}
.process__icon {
  color: #7E7E7E;
  margin: 0 20px;
}
.process__steps {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
}
.restaurants_title {
  margin: 1rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 1rem;
}

.card {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  color: inherit;
  display: block;
}
.card:hover {
  transition: 0.5s;
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 2px #9356DC;
}
.card__img {
  height: 12rem;
  width: 100%;
  border: transparent solid 0px;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}
.card__badge {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}
.card__footer {
  padding: 1rem;
  display: flex;
  align-items: center;
}
.card__content {
  flex: 1;
}
.card__title {
  margin: 0;
  margin-bottom: 0.25rem;
}
.card__subtitle {
  margin: 0;
}

.heart {
  font-size: 2rem;
  cursor: pointer;
}
.heart:hover .empty {
  display: none;
}
.heart:hover .full {
  display: block;
  animation: opacity-animation 2s ease-in-out forwards;
}
.heart .full {
  background: -moz-linear-gradient(357deg, #9356dc, #ff79da);
  background: -webkit-linear-gradient(357deg, #9356dc, #ff79da);
  background: linear-gradient(357deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
}

@keyframes opacity-animation {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 30;
  }
  60% {
    opacity: 60;
  }
  80% {
    opacity: 80;
  }
  100% {
    opacity: 100;
  }
}
.heart_icon {
  font-family: FontAwesome;
  position: relative;
}
.heart_icon::before {
  content: "\f21e";
  padding: 5px;
}
.heart_icon:hover::before {
  animation: opacity-animation 2s ease-in-out forwards;
  background: linear-gradient(357deg, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  background-color: #353535;
}
.footer__container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-left: 2rem;
}
.footer__logo {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__listAlt {
  margin: 0.5rem 0;
}
.footer__listAlt:first-child {
  margin-top: 0;
}
.footer__listAlt:last-child {
  margin-bottom: 0;
}
.footer__link {
  color: white;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
