.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.loader {
   background: #FF79DA;
  -webkit-animation: load2 1s infinite ease-in-out;
  animation: load2 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
} 

.loader:before {
   background: #9356dc;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader:after {
  background: #99E2D0;
  -webkit-animation: load3 1s infinite ease-in-out;
  animation: load3 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader {
  font-size: 2vw;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}


.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content:"";
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #9356DC;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #9356DC;
    height: 5em;
  }
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #9356DC;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #9356DC;
    height: 5em;
  }
}

@-webkit-keyframes load2 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #FF79DA;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #FF79DA;
    height: 5em;
  }
}

@keyframes load2 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #FF79DA;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #FF79DA;
    height: 5em;
  }
}

@-webkit-keyframes load3 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #99E2D0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #99E2D0;
    height: 5em;
  }
}

@keyframes load3 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #99E2D0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #99E2D0;
    height: 5em;
  }
}